<!DOCTYPE html>
<html ng-app="forms">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	
	<script>
		<!-- Angular code goes here -->
		var app= angular.module('forms',[]);
		app.controller('todoController',function(){
			this.todoItem={};
			this.todoList=[];
			this.addToDo=function(){
				this.todoItem.done=false;
				this.todoList.push(this.todoItem);
				this.todoItem={};
				
			};
		});
	</script>
	<style>
	.strike{text-decoration:line-through;}
	.ng-dirty.ng-invalid{border-color:red;}
	.ng-dirty.ng-valid{border-color:green;}
	</style>
  </head>

  <body ng-controller="todoController as todoCtrl">
    <div class="container">
		<h2>To Do List</h2>
		<ul class="list-unstyled">
			<li ng-repeat="item in todoCtrl.todoList"><input type="checkbox" ng-model="item.done"><span ng-class="{strike:item.done}">{{item.name}}</span></li>
		</ul>
		<form name="todoForm" ng-submit="todoForm.$valid && todoCtrl.addToDo()" novalidate>
			<input type="text" placeholder="Hey...do this" ng-model="todoCtrl.todoItem.name"required/>
			<input type ="submit" value="Save" />
		
		</form>
   
	</div>
  </body>
</html>